---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card/index.astro";
import Button from "../components/Button.astro";
import { LINKS } from "../lib/constants";
import { Icon } from "astro-icon/components";
import Tooltip from "../components/Tooltip/index";
---

<script>
  import { stagger, spring, timeline, type TimelineDefinition } from "motion";
  import { loaderAnimation } from "../lib/constants";
  const cards = document.querySelectorAll(".card");

  const sequence = [
    loaderAnimation,
    [
      cards,
      { y: ["40%", "0%"], opacity: [0, 1] },
      {
        at: "-0.1",
        duration: 0.4,
        delay: stagger(0.3),
        easing: spring({ velocity: 100, stiffness: 50, damping: 10 }),
      },
    ],
  ];

  timeline(sequence as TimelineDefinition);
</script>

<Layout
  title="Tianchi YU(于天池) - Developer & Hacker"
  description="Security Researcher & Life Hacker"
>
  <main
    class="text-white m-auto p-2 grid gap-2 max-w-6xl overflow-hidden relative w-full sm:p-4 sm:gap-2 md:grid-cols-2 md:gap-3 md:p-6 lg:h-screen lg:grid-rows-8 lg:grid-cols-4 lg:gap-4 lg:max-h-[800px]"
  >
    <Card colSpan="md:col-span-8" rowSpan="md:row-span-12" title="">
      <div class="flex w-full h-full">
        <div class="flex flex-col justify-between md:max-h-[300px] gap-4">
          <p class="flex flex-col h-full">
            <h6 class="text-sm font-light m-0 text-gray-500">ME</h6>
            <p class="m-0 font-light text-xl">
              Hi, I'm <b class="font-bold">Tianchi YU</b>, a first-year Ph.D.
              student specializing in <b class="font-bold text-blue-500"
                >System Security</b
              > at the
              <a
                href="https://www.unipd.it/en/"
                target="_blank"
                class="text-red-500">University of Padova</a
              > under the guidance of amazing
              <a
                href="https://www.math.unipd.it/~conti/"
                target="_blank"
                class="font-bold text-red-500">Prof. Mauro Conti</a
              >. I am part of the <a
                href="https://spritz.math.unipd.it/"
                target="_blank"
                class="text-red-500">Security and Privacy</a
              > (SPRITZ) research group, and I also serve as an Industrial Ph.D.
              student, collaborating with Huawei's <b class="font-bold"
                >Trusted System Security Lab</b
              >
              in Munich, supervised by senior expert and director <a
                href="https://www.linkedin.com/in/silviu-vlasceanu/"
                target="_blank"
                class="text-red-500 font-bold">Silviu Vlasceanu</a
              >. My research interests are System/Hardware Security, Trustworthy
              Systems and Heterogenous Computing. I am highly receptive to
              engaging in Open Source Projects as well as any other compelling
              initiatives.
            </p>

            <p class="m-0 font-light text-xl">
              I obtained my first M.Sc. from <a
                href="https://www.ip-paris.fr/en"
                target="_blank"
                class="text-red-500">École Polytechnique/IP-Paris</a
              > in Cyber-Physical Systems, and my second M.Sc.(diplôme d’ingénieur)
              from <a
                href="https://www.isae-supaero.fr/fr/"
                target="_blank"
                class="text-red-500"
                >Institut Supérieur de l’Aéronautique et de l’Espace
              </a>
              , direction of Math and Computer Science. My first professional research
              project was at <a
                href="https://www.nomadic-labs.com/"
                target="_blank"
                class="text-white font-bold">Nomadic Labs</a
              > in 2021 on Smart Contract of Tezos Blockchain, where I was fortunate
              to work with <a
                href="https://yrg.gitlab.io/homepage/"
                target="_blank"
                class="text-red-500 font-bold">Dr. Yann Régis-Gianas</a
              > and Dr.Ric Bonichon. Sooner, I focused more on Hardware Security
              and Machine Learning Security, then I finished my Master Thesis with
              <a
                href="https://scholar.google.de/citations?user=QJv4B9EAAAAJ&hl=fr"
                target="_blank"
                class="text-red-500 font-bold">Dr.Laurent Gomez</a
              > at <a
                href="https://scholar.google.de/citations?user=QJv4B9EAAAAJ&hl=fr"
                target="_blank"
                class="text-white font-bold">SAP Security Research Team</a
              > and we eventually published a scientific paper with the content of
              my thesis.
            </p>

            <p class="m-0 font-light text-xl">
              Beyond coding,
              <ul class="list-disc list-inside text-xl font-light">
                <li>I like anime, music and sports.</li>
                <li>I speak Mandarin, English and French.</li>
                <li>I enjoy reading, thinking and travelling.</li>
              </ul>
            </p>
            <div class="flex gap-4">
              <a
                href={LINKS.github}
                aria-label="github profile"
                target="_blank"
              >
                <Button aria-label="github profile">
                  <Icon name="ri:github-fill" class="h-6" />
                  <span class="sr-only">GitHub Profile</span>
                </Button>
              </a>
              <a
                href={LINKS.linkedin}
                aria-label="linkeding profile"
                target="_blank"
              >
                <Button aria-label="linkedin profile">
                  <Icon name="ri:linkedin-box-fill" class="h-6" />
                  <span class="sr-only">Linkedin Profile</span>
                </Button>
              </a>
              <!-- <a
                href={LINKS.dribble}
                aria-label="dribble profile"
                target="_blank"
              >
                <Button aria-label="dribble profile">
                  <Icon name="ri:dribbble-fill" class="h-6" />
                  <span class="sr-only">Dribble Profile</span>
                </Button>
              </a> -->
              <Tooltip client:visible>
                <Button aria-label="easter egg btn">
                  <Icon name="ri:emotion-laugh-line" class="h-6" />
                  <span class="sr-only">Easter egg button</span>
                </Button>
              </Tooltip>
            </div>
          </p>
        </div>
      </div>
    </Card>
    <!-- <Now />
    <TimeZone /> -->
  </main>
</Layout>
