---
import TimelineLayout from '../layouts/TimelineLayout.astro'
import Card from '../components/Card/index.astro'
import '../style/timeline.css'
---

<TimelineLayout title="Personal Post" description="A personal post" children="HI, This is Tianchi">
  <div class="timeline text-white">
    
    <Card 
      colSpan="md:col-span-1"
      rowSpan="md:row-span-1"
      title="I Got A Cat!!!"
      colorText="text-neutral-900"
    >
        <!-- Example timeline item -->
    <div class="timeline-item text-white">
      <div class="timeline-date">March 25, 2024</div>
      <div class="timeline-content">
        <!-- <img src="/gojo-tc.png" alt="March 25th"> -->
        <p>Today, I got a very cut cat! I give her a name : MIA !</p>
      </div>
      <img
      width="300"
      height="300"
      src="/gojo-tc.png"
      class="w-auto max-h-[300px] select-none absolute right-[-110px] bottom-[-20px] z-[-1] opacity-50 md:opacity-100 md:relative md:right-auto md:bottom-auto md:z-auto pointer-events-none"
      alt="mia"
        />
    </div>
    </Card>

    <Card 
      colSpan="md:col-span-1"
      rowSpan="md:row-span-1"
      title="Astro Website"
      colorText="text-neutral-900"
    >
        <!-- Example timeline item -->
    <div class="timeline-item text-white">
      <div class="timeline-date">March 5, 2024</div>
      <div class="timeline-content">
        <img src="../img/gojo-tc.png" alt="March 25th">
        <p>Today, I started working on my personal website using Astro!</p>
      </div>
    </div>
    </Card>

    <!-- Another timeline item -->
    <div class="timeline-item">
      <div class="timeline-date">April 1, 2024</div>
      <div class="timeline-content">
        <img src="/img/april1.jpg" alt="April 1st">
        <p>Received my first feedback from users about the website - excited to implement some changes!</p>
      </div>
    </div>

    <!-- Add more timeline items as needed -->
  </div>
</TimelineLayout>