---
import Layout from "../layouts/Layout.astro";
import FrameLayout from "../layouts/FrameLayout.astro";
import PubLayout from "../layouts/PubLayout.astro";

const title = "Publications";
---

<FrameLayout title={title} description="Publications">
  <!-- <div
    slot="loader"
    class="loader star-clip-path bg-secondary-900 text-neutral-50 text-3xl font-black text-white uppercase flex justify-center items-center w-screen h-screen z-50 fixed top-0 bottom-0 right-0 left-0 w-screen h-screen"
  >
  </div> -->
  <div class="w-screen h-screen sticky top-0 dotted-bg">
    <div
      class="h-body-with-navbar w-full flex flex-col justify-center items-center gap-10"
    >
      <div class="mt-10 flex flex-col justify-center items-center gap-2.5 z-0">
        <h1
          class="text-4xl md:text-5xl/[0.7] xl:text-6xl/[0.8] font-bold text-white"
        >
          Publications <br />
          <span class="font-normal">Display</span>
        </h1>

        <p class="text-1xl text-secondary-200 text-white">
          Please scroll down...
        </p>
      </div>
      <!-- <button
        id="get-in-touch"
        class="rounded-lg bg-amber px-5 py-2.5 text-secondary-900 font-semibold"
        >Get in touch</button
      > -->
    </div>
  </div>
  <section
    class="relative w-[calc(100vw-4rem)] mx-auto mt-[-2rem] h-[calc(100vh-1rem)] sticky top-[1rem] rounded-t-2xl"
  >
    <!-- <BookmarkSvg /> -->

    <h2 class="text-white ml-2 mt-1 font-bold">
      Security for Distributed Machine Learning
    </h2>
    <div class="m-6 flex flex-col lg:flex-row gap-5 z-20">
      <!-- <ContactForm client:load /> -->
      <h3 class="text-gray">
        Authors: Laurent Gomez., <a class="font-bold">Tianchi Yu.</a>, and
        Patrick Duverger.
        <p class="text-gray-800">
          20th International Conference on Security and Cryptography - SECRYPT
        </p>
      </h3>

      <div class="border-1 border-secondary-600 rounded-2xl p-4">
        <p class="text-gray-500">
          With the adoption of IoT-like technologies, industrials aim to enhance
          the business value of their physical assets and improve their
          operational efficiency. However, IoT devices alone tend to strain
          enterprise systems with a sheer volume of unstructured and unfiltered
          data. To overcome this challenge, endowing (smart) devices with
          AI-based capabilities can significantly enhance enterprise system
          capabilities. However, deploying AI-based capabilities on potentially
          insecure edge hardware and platforms introduces new security risks,
          including AI model theft, poisoning, and data leaks. This paradigm
          shift necessitates the protection of distributed AI applications and
          data. In this paper, we propose a solution for safeguarding the
          Intellectual Property and data privacy of ML-based software. We
          utilize hardware-assisted Privacy Enhancing Technologies, specifically
          Trusted Execution Environments. We evaluate the effectiveness of our
          approach in the context of ML-based motion detection in CCTV cameras.
          This work is part of a co-innovation project with the Smart City of
          Antibes, France.
        </p>
      </div>
    </div>
    <a
      href="https://www.scitepress.org/PublicationsDetail.aspx?ID=pdOTx3O9VVE=&t=1"
      target="_blank"
      rel="noreferrer"
      style="text-align:-webkit-center"
    >
      <div
        class="w-fit border-1 border-secondary-600 rounded-2xl p-4 justify-center"
      >
        URL =&gt;
      </div>
    </a>
  </section>
  <section
    class="relative w-[calc(100vw-3rem)] mx-auto h-[calc(100vh-2rem)] sticky top-[2rem] rounded-t-2xl"
  >
    <!-- <BookmarkSvg /> -->

    <h2 class="text-white ml-2 mt-1 font-bold">More Coming...</h2>
  </section>
  <!-- <section
    class="relative w-[calc(100vw-2rem)] mx-auto h-[calc(100vh-3rem)] sticky top-[3rem] rounded-t-2xl"
  >

    <h2>Services</h2>
  </section> -->
</FrameLayout>

<style>
  @unocss;

  body {
    font-family: "Inter", sans-serif;
    background-color: black;
    /* color: redb; */
    color: aliceblue;
  }

  h2 {
    @apply text-2xl text-secondary-50 font-semibold mb-4;
  }

  html.lenis,
  html.lenis body {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }

  section {
    padding: 0px;
    background-color: black;
    @apply border-t-1 border-x-1 border-solid border-amber bg-secondary-900 overflow-hidden background-color:black;
  }

  /* input::placeholder,
  textarea::placeholder {
    @apply text-secondary-300;
  } */
</style>
