---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I come from China, have been lived in Switzerland, France, Germany.
      <br />
      My primary tools of choice includes:
      <ul class="list-disc list-inside">
        <li>C/C++</li>
        <li>GoLang</li>
        <li>Python</li>
        <li>React</li>
        <li>Astro</li>
        <li>Nodejs</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      With a strong appreciation for the open-source ethos, I am also venturing into entrepreneurship.
      Lately, I've been intrigued by the profound influence of AI on society.
      I look forward to witnessing and contributing to the transformative changes unfolding in the real world.
      
    </p>
    <p class="text-sm font-light">
      I believe that a successful life stems from transcending individual perspectives and quick execution.
    </p>
  </div>
</Card>
