---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-3" rowSpan="md:row-span-4">
  <div class="flex w-full min-h-fit">
    <div class="flex flex-col justify-between gap-4 flex-1">
      <div class="flex flex-col">
        <h6 class="text-sm font-light m-0 text-gray-500">Short Bio</h6>
        <p class="m-0 font-light text-xl">
          Hi, I'm <b class="font-bold">Tianchi YU</b>, a first-year Ph.D.
          student specializing in <b class="font-bold text-blue-500"
            >System Security</b
          > at the
          <a
            href="https://www.unipd.it/en/"
            target="_blank"
            class="text-red-500">University of Padova</a
          > under the guidance of
          <a
            href="https://www.math.unipd.it/~conti/"
            target="_blank"
            class="font-bold text-red-500">Prof. Mauro Conti</a
          >. I am part of the <a
            href="https://spritz.math.unipd.it/"
            target="_blank"
            class="text-red-500">Security and Privacy (SPRITZ)</a
          > research group, and I also serve as an Industrial Ph.D. student,
          collaborating with Huawei's <b class="font-bold"
            >Trusted System Security Lab</b
          > at Munich Heisenberg Researcher Center
          , supervised by senior expert and director <a
            href="https://www.linkedin.com/in/silviu-vlasceanu/"
            target="_blank"
            class="text-red-500 font-bold">Silviu Vlasceanu</a
          >. I am also co-adviced by <a
            href="https://www.ifi.uzh.ch/en/spins/people/oliveira.html"
            target="_blank"
            class="text-red-500 font-bold">Prof. Ivan De Oliveira Nunes</a> from
            the <a href="https://www.ifi.uzh.ch/en/spins/people.html"
            target="_blank"
            class="text-red-500">Security and Privacy of Information, Networks, and Systems (SPINS)</a> research group at University of Zurich.
        </p>
      </div>
    </div>
    <img
      width="300"
      height="300"
      src="/tianchi2.jpg"
      class="w-auto h-auto max-w-[100px] md:max-w-[280px] p-6 select-none absolute right-[-110px] justify-center z-[-1] opacity-50 md:opacity-100 md:relative md:right-auto md:bottom-auto md:z-auto pointer-events-none flex-shrink-0"
      alt="memoji of gianmarco"
    />
  </div>
</Card>
