---
import Card from "./Card/index.astro";
---

<Card
  colSpan="md:col-span-1"
  rowSpan="md:row-span-12"
  title="Key Words About me"
>
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      <br />
      <a class="text-red">As A Researcher</a>
      <ul class="list-disc list-inside">
        <li>System Security</li>
        <li>xPUs and Micro-arch</li>
        <li>Remote Attacks</li>
        <li>Cyber-Physical Systems</li>
        <li>Blockchain and Distributed Systems</li>
        <li>AI Security & Privacy</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      <br />
      <a class="text-red">As A Developer</a>
      <ul class="list-disc list-inside">
        <li>C/C++</li>
        <li>GoLang</li>
        <li>Python</li>
        <li>OCaml</li>
        <li>Rust</li>
        <li>Nodejs</li>
      </ul>
    </p>

    <p class="text-sm font-light">
      <br />
      <a class="text-red">What I believe</a>
      <p class="text-xl">"Talk is cheap, show me the code."</p>
      <p class="text-xl">"Stay Hungry, Stay Foolish."</p>
    </p>

    <!-- <p class="text-sm font-light">
      With a strong appreciation for the open-source ethos, I am also venturing
      into entrepreneurship. Lately, I've been intrigued by the profound
      influence of computer science on society. I look forward to witnessing and
      contributing to the transformative changes unfolding in the real world.
    </p>
    <p class="text-sm font-light">
      I believe that a successful life stems from transcending individual
      perspectives and quick execution. -->
  </div>
</Card>
