---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2" title="Security News" href="/security-news">
  <div class="flex justify-between w-full items-start mb-2">
    </div>
  </div>
  <p class="text-xs">- Stay updated with the latest security trends!</p>
</Card>